<!-- Footer Start -->
<div class="container-fluid bg-secondary py-5 px-sm-3 px-md-5" style="margin-top: 90px;">
  <div class="row pt-5">
    <div class="col-lg-3 col-md-6 mb-5">
      <h4 class="text-uppercase text-light mb-4">Bize Ulaşın</h4>
      <p class="mb-2"><i class="fa fa-map-marker-alt text-white mr-3"></i>123 Street, New York, USA</p>
      <p class="mb-2"><i class="fa fa-phone-alt text-white mr-3"></i>+012 345 67890</p>
      <p><i class="fa fa-envelope text-white mr-3"></i>info@royalcars.com</p>
      <h6 class="text-uppercase text-white py-2">Bizi takip edin</h6>
      <div class="d-flex justify-content-start">
        <a class="btn btn-lg btn-dark btn-lg-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
        <a class="btn btn-lg btn-dark btn-lg-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
        <a class="btn btn-lg btn-dark btn-lg-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
        <a class="btn btn-lg btn-dark btn-lg-square" href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-5">
      <h4 class="text-uppercase text-light mb-4">Kullanışlı Linkler</h4>
      <div class="d-flex flex-column justify-content-start">
        <a class="text-body mb-2" href="#"><i class="fa fa-angle-right text-white mr-2"></i>Gizlilik Sözleşmesi</a>
        <a class="text-body mb-2" href="#"><i class="fa fa-angle-right text-white mr-2"></i>Kullanım Kosuşlları</a>
        <a class="text-body mb-2" href="register"><i class="fa fa-angle-right text-white mr-2"></i>Yeni Üyelik</a>
        <a class="text-body mb-2" href="#"><i class="fa fa-angle-right text-white mr-2"></i>Kiralama & İade</a>
        <a class="text-body" href="#"><i class="fa fa-angle-right text-white mr-2"></i>Yardım</a>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-5">
      <h4 class="text-uppercase text-light mb-4" routerLink="/galery">Araba Gallerisi</h4>
      <div class="row mx-n1">
        <div class="col-4 px-1 mb-2">
          <a href=""><img class="w-100" src="assets/img/gallery-1.jpg" alt=""></a>
        </div>
        <div class="col-4 px-1 mb-2">
          <a href=""><img class="w-100" src="assets/img/gallery-2.jpg" alt=""></a>
        </div>
        <div class="col-4 px-1 mb-2">
          <a href=""><img class="w-100" src="assets/img/gallery-3.jpg" alt=""></a>
        </div>
        <div class="col-4 px-1 mb-2">
          <a href=""><img class="w-100" src="assets/img/gallery-4.jpg" alt=""></a>
        </div>
        <div class="col-4 px-1 mb-2">
          <a href=""><img class="w-100" src="assets/img/gallery-5.jpg" alt=""></a>
        </div>
        <div class="col-4 px-1 mb-2">
          <a href=""><img class="w-100" src="assets/img/gallery-6.jpg" alt=""></a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-5">
      <h4 class="text-uppercase text-light mb-4">Mail Bülteni</h4>
      <p class="mb-4">E-mail bültenimize abone olarak bizden haberdae olarbilirsiniz</p>
      <div class="w-100 mb-3">
        <div *ngIf="! isSubscribed; else subscribed" class="input-group">
          <input type="text" #mail class="form-control bg-dark border-dark" style="padding: 25px;" placeholder="Email">
          <div class="input-group-append">
            <button (click)="onSubscribe(mail.value)" class="btn btn-primary text-uppercase px-3">Abone Ol</button>
          </div>
        </div>
        <ng-template #subscribed>
          <div class="swal2-icon swal2-success swal2-animate-success-icon" style="display: flex;">
            <div class="swal2-success-circular-line-left" style="background-color: #2B2E4A;"></div>
            <span class="swal2-success-line-tip"></span>
            <span class="swal2-success-line-long"></span>
            <div class="swal2-success-ring"></div>
            <div class="swal2-success-fix" style="background-color: #2B2E4A;"></div>
            <div class="swal2-success-circular-line-right" style="background-color: #2B2E4A;"></div>
          </div>



        </ng-template>

      </div>
      <i>Sizi rahatsız etmeyeceğimize söz veriyoruz :D</i>
    </div>
  </div>
</div>
<div class="container-fluid bg-dark py-4 px-sm-3 px-md-5">
  <p class="mb-2 text-center text-body">&copy; <a href="#">Royal Cars</a>. Tüm Hakları Saklıdır</p>
  <p class="m-0 text-center text-body">Designed by <a href="https://github.com/huseyinafsin">Hüseyin Afşin</a></p>
</div>
<!-- Footer End -->
