<div *ngIf="dataLoaded == false" class="spinner-border text-danger" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<div *ngIf="colors!=null" class="container">
  <br>
  <button style="float:right; margin-bottom: 1%; width: max-content;"  (click)="addColor()" class="btn btn-success ">Renk Ekle</button>
  <table class="table ">
    <thead class="thead">
      <tr>
        <th scope="col">#</th>
        <th scope="col">İsim</th>
      </tr>
    </thead>
    <tbody *ngFor="let color of colors">
      <tr>
        <th scope="row">{{color.id}}</th>
        <td>{{color.name}}</td>
        <td><a (click)="updateColor(color.id)" class="edit"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a></td>
        <td><a (click)="deleteColor(color)" class="delete"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>
        </a></td>
      </tr>

    </tbody>
  </table>

</div>
