<div *ngIf="dataLoaded == false" class="spinner-border text-danger" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<table *ngIf="dataLoaded==true" class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>İsim</th>
      <th>Soyisim</th>
      <th>Email</th>
      <th>Firma </th>
      <th>Findeks Skoru</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customers">
      <td> {{customer.customerId}} </td>
      <td> {{customer.firstName}} </td>
      <td> {{customer.lastName}} </td>
      <td> {{customer.email}} </td>
      <td> {{customer.companyName}} </td>
      <td> {{customer.findexScore}} </td>
    </tr>
  </tbody>
</table>
