<div *ngIf="dataLoaded == false" class="spinner-border text-danger" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<div *ngIf="cars!=null" class="container">
  <br>
    <a routerLink="/cars/add" class="btn btn-success" style="float: right;" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span style="align-self: center;">Add New Employee</span></a>

  <table class="table table-striped">
    <thead class="thead-dark"  >
      <tr>
        <th scope="col">#</th>
        <th scope="col">Marka</th>
        <th scope="col">Model</th>
        <th scope="col">Renk</th>
        <th scope="col">Yıl</th>
        <th scope="col">Kiralama Ücreti</th>
        <th scope="col"> </th>
        <th scope="col"> </th>
        <th scope="col"> </th>
      </tr>
    </thead>
    <tbody *ngFor="let car of cars">
      <tr >
        <th scope="row">{{car.id}}</th>
        <td>{{car.brandName}}</td>
        <td>{{car.carName}}</td>
        <td>{{car.colorName}}</td>
        <td>{{car.modelYear}}</td>
        <td>{{car.dailyPrice |currency}}</td>
        <td><a routerLink="/cars/edit/{{car.id}}" class="edit"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a></td>
        <td><a (click)="deleteCar(car)" class="delete"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a></td>
        <td><a routerLink="/cars/details/{{car.id}}" class="info"><i class="material-icons" data-toggle="tooltip" title="Info">&#xe88e;</i></a></td>
      </tr>

    </tbody>
  </table>

</div>
