
  <!-- Search Start -->
  <app-search></app-search>
  <!-- Search End -->


  <!-- Carousel Start -->
  <div class="container-fluid p-0" style="margin-bottom: 90px;">
      <div id="header-carousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
              <div *ngFor="let car of cars;let i = index" [attr.data-index]="i" class="carousel-item ">
                  <img class="w-100" [src]="apiUrl+car.images[0].imagePath" alt="Image">
                  <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                      <div class="p-3" style="max-width: 900px;">
                          <h2 class="display-1 text-white mb-md-4">En ucuz 5 araç içerisinde {{i+1}}. Sırada</h2>
                          <a routerLink="{{'/cars/details/'+ car.id}}" class="btn btn-primary py-md-3 px-md-5 mt-2">Şimdi Kirala</a>
                      </div>
                  </div>
              </div>
              <div class="carousel-item active">
                  <img class="w-100" src="assets/img/carousel-2.jpg" alt="Image">
                  <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                      <div class="p-3" style="max-width: 900px;">
                          <h2 class="display-1 text-white mb-md-4">Galerimizdeki en ekonomik 5 aracımız sizlerle</h2>
                          <a routerLink="/car" class="btn btn-primary py-md-3 px-md-5 mt-2">İncele</a>
                      </div>
                  </div>
              </div>
          </div>
          <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
              <div class="btn btn-dark" style="width: 45px; height: 45px;">
                  <span class="carousel-control-prev-icon mb-n2"></span>
              </div>
          </a>
          <a class="carousel-control-next" href="#header-carousel" data-slide="next">
              <div class="btn btn-dark" style="width: 45px; height: 45px;">
                  <span class="carousel-control-next-icon mb-n2"></span>
              </div>
          </a>
      </div>
  </div>
  <!-- Carousel End -->


  <!-- About Start -->
  <app-about></app-about>
  <!-- About End -->

  <!-- Banner Start -->
  <div class="container-fluid py-5">
      <div class="container py-5">
          <div class="bg-banner py-5 px-4 text-center">
              <div class="py-5">
                  <h1 class="display-1 text-uppercase text-primary mb-4">50% İndirim</h1>
                  <h1 class="text-uppercase text-light mb-4">Yeni Üyelerimize Özel %50 Sağlıyoruz</h1>
                  <p class="mb-4">Kampanpa bitmeden üye olun</p>
                  <a class="btn btn-primary mt-2 py-3 px-5" href="/register">Kayıt Ol</a>
              </div>
          </div>
      </div>
  </div>
  <!-- Banner End -->

  <!-- Rent A Car Start -->
    <app-car></app-car>
  <!-- Rent A Car End -->

  <!-- Testimonial Start -->
  <!-- <div class="container-fluid py-5">
      <div class="container py-5">
          <h1 class="display-1 text-primary text-center">05</h1>
          <h1 class="display-4 text-uppercase text-center mb-5">Our Client's Say</h1>
          <div class="owl-carousel testimonial-carousel">
              <div class="testimonial-item d-flex flex-column justify-content-center px-4">
                  <div class="d-flex align-items-center justify-content-between mb-3">
                      <img class="img-fluid ml-n4" src="assets/img/testimonial-1.jpg" alt="">
                      <h1 class="display-2 text-white m-0 fa fa-quote-right"></h1>
                  </div>
                  <h4 class="text-uppercase mb-2">Client Name</h4>
                  <i class="mb-2">Profession</i>
                  <p class="m-0">Kasd dolor no lorem nonumy sit labore tempor at justo rebum rebum stet, justo elitr dolor amet sit sea sed</p>
              </div>
              <div class="testimonial-item d-flex flex-column justify-content-center px-4">
                  <div class="d-flex align-items-center justify-content-between mb-3">
                      <img class="img-fluid ml-n4" src="assets/img/testimonial-2.jpg" alt="">
                      <h1 class="display-2 text-white m-0 fa fa-quote-right"></h1>
                  </div>
                  <h4 class="text-uppercase mb-2">Client Name</h4>
                  <i class="mb-2">Profession</i>
                  <p class="m-0">Kasd dolor no lorem nonumy sit labore tempor at justo rebum rebum stet, justo elitr dolor amet sit sea sed</p>
              </div>
              <div class="testimonial-item d-flex flex-column justify-content-center px-4">
                  <div class="d-flex align-items-center justify-content-between mb-3">
                      <img class="img-fluid ml-n4" src="assets/img/testimonial-3.jpg" alt="">
                      <h1 class="display-2 text-white m-0 fa fa-quote-right"></h1>
                  </div>
                  <h4 class="text-uppercase mb-2">Client Name</h4>
                  <i class="mb-2">Profession</i>
                  <p class="m-0">Kasd dolor no lorem nonumy sit labore tempor at justo rebum rebum stet, justo elitr dolor amet sit sea sed</p>
              </div>
              <div class="testimonial-item d-flex flex-column justify-content-center px-4">
                  <div class="d-flex align-items-center justify-content-between mb-3">
                      <img class="img-fluid ml-n4" src="assets/img/testimonial-4.jpg" alt="">
                      <h1 class="display-2 text-white m-0 fa fa-quote-right"></h1>
                  </div>
                  <h4 class="text-uppercase mb-2">Client Name</h4>
                  <i class="mb-2">Profession</i>
                  <p class="m-0">Kasd dolor no lorem nonumy sit labore tempor at justo rebum rebum stet, justo elitr dolor amet sit sea sed</p>
              </div>
          </div>
      </div>
  </div> -->
  <!-- Testimonial End -->


  <!-- Contact Start -->
  <app-contact></app-contact>
  <!-- Contact End -->

  <!-- Back to Top -->
  <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>
<script>
  $(document).ready(function() {

 $("#owl-example").owlCarousel();

});
</script>
