
<div class="row">
  <div [class]="'col-md-10'">
    <input type="text" [(ngModel)]="carFilterText" class="form-control mb-2 my-1" id="filterText" placeholder="Model ara" />
    <div name="filterBar"class="row my-2">
      <div class="col md-3">
        <select class="form-select rounded-0" [(ngModel)]="filterBrandId" [value]="filterBrandId">
          <option value="0">Marka Seçiniz</option>
          <option *ngFor="let brand of brands" [value]="brand.id" [selected]="getSelectedBrand(brand.id)">
            {{ brand.name }}
          </option>
        </select>
      </div>
      <div class="col-md-3">
        <select class="form-select rounded-0" [(ngModel)]="filterColorId" [value]="filterColorId">
          <option value="0">Renk Seçiniz</option>
          <option *ngFor="let color of colors" [value]="color.id" [selected]="getSelectedColor(color.id)">
            {{ color.name }}
          </option>
        </select>
      </div>
      <div class="col-lg">
        <div class="d-grid">
          <button  id="btnFilter" [routerLink]="routeFilter()" class="btn btn-primary btn-sm">Filter</button>
        </div>
      </div>
    </div>
    <div class="row my-4">
      <div *ngFor="let car of cars | carFilter: carFilterText"  class="card mx-2 my-2" style="width: 20.29rem">
        <img  [src]="getImageUrl(car.id)" class="image-details my-3" [alt]="car.brandName + ' ' + car.carName"
         routerLink=""  [title]="car.brandName + ' ' + car.carName" />
        <div class="card-body text-center">
          <span class="text-danger fw-bold">{{ car.brandName }}
            <span class="text-secondary">{{ car.carName }}</span>
          </span>
        </div>
        <ul class="list-group text-center">
          <li class="list-group-item details">
            <span class="mx-1 badge bg-danger">{{ car.colorName }}</span>
            <span class="mx-1 badge bg-primary">{{ car.modelYear }}</span>
            <span class="mx-1 badge bg-dark">{{ car.dailyPrice }} ₺</span>
          </li>
          <li class="list-group-item details">
            <span class="mx-1 badge bg-secondary">{{ car.brandName }}</span>
            <span class="mx-1 badge bg-success">{{ car.colorName }}</span>
            <span class="mx-1 badge bg-warning">{{ car.dailyPrice }}</span>
          </li>
        </ul>
        <div class="card-body text-center">
          <button routerLink="/cars/details/{{car.id}}" class="btn btn-outline-primary btn-sm shadow-none mx-1">
            Detaylar
          </button>
          <!-- <button data-bs-toggle="modal" [attr.data-bs-target]="'#exampleModal' + car.id" class="btn btn-outline-secondary btn-sm mx-1"
            routerLink="/rentals/rent/{{car.id}}"
          >
            Kirala
          </button> -->
        </div>
      </div>
    </div>
  </div>
</div>
