<!--
<div class="row">
  <div [class]="'col-md-10'">
    <input type="text" [(ngModel)]="carFilterText" class="form-control mb-2 my-1" id="filterText" placeholder="Model ara" />
    <div name="filterBar"class="row my-2">
      <div class="col md-3">
        <select class="form-select rounded-0" [(ngModel)]="filterBrandId" [value]="filterBrandId">
          <option value="0">Marka Seçiniz</option>
          <option *ngFor="let brand of brands" [value]="brand.id" [selected]="getSelectedBrand(brand.id)">
            {{ brand.name }}
          </option>
        </select>
      </div>
      <div class="col-md-3">
        <select class="form-select rounded-0" [(ngModel)]="filterColorId" [value]="filterColorId">
          <option value="0">Renk Seçiniz</option>
          <option *ngFor="let color of colors" [value]="color.id" [selected]="getSelectedColor(color.id)">
            {{ color.name }}
          </option>
        </select>
      </div>
      <div class="col-lg">
        <div class="d-grid">
          <button  id="btnFilter" [routerLink]="routeFilter()" class="btn btn-primary btn-sm">Filter</button>
        </div>
      </div>
    </div>
    <div class="row my-4">
      <div *ngFor="let car of cars | carFilter: carFilterText"  class="card mx-2 my-2" style="width: 20.29rem">
        <img  [src]="getImageUrl(car.id)" class="image-details my-3" [alt]="car.brandName + ' ' + car.carName"
         routerLink=""  [title]="car.brandName + ' ' + car.carName" />
        <div class="card-body text-center">
          <span class="text-danger fw-bold">{{ car.brandName }}
            <span class="text-secondary">{{ car.carName }}</span>
          </span>
        </div>
        <ul class="list-group text-center">
          <li class="list-group-item details">
            <span class="mx-1 badge bg-danger">{{ car.colorName }}</span>
            <span class="mx-1 badge bg-primary">{{ car.modelYear }}</span>
            <span class="mx-1 badge bg-dark">{{ car.dailyPrice }} ₺</span>
          </li>
          <li class="list-group-item details">
            <span class="mx-1 badge bg-secondary">{{ car.brandName }}</span>
            <span class="mx-1 badge bg-success">{{ car.colorName }}</span>
            <span class="mx-1 badge bg-warning">{{ car.dailyPrice }}</span>
          </li>
        </ul>
        <div class="card-body text-center">
          <button routerLink="/cars/details/{{car.id}}" class="btn btn-outline-primary btn-sm shadow-none mx-1">
            Detaylar
          </button>
        </div>
      </div>
    </div>
  </div>
</div> -->


<div class="container-fluid py-5">
  <div class="container pt-5 pb-3">
      <h1 class="display-4 text-uppercase text-center mb-5">Arabalar</h1>
      <div class="row" >
          <div class="col-lg-4 col-md-6 mb-2" *ngFor="let car of cars">
              <div class="rent-item mb-4">
                  <img class="img-fluid mb-4" [src]="getImageUrl(car.id)" alt="">
                  <h4 class="text-uppercase mb-4">{{car.brandName+" "+ car.carName}}</h4>
                  <div class="d-flex justify-content-center mb-4">
                      <div class="px-2">
                          <i class="fa fa-car text-primary mr-1"></i>
                          <span>{{car.modelYear}}</span>
                      </div>
                      <div class="px-2 border-left border-right">
                          <i class="fa fas fa-palette text-primary mr-1"></i>
                          <span>{{car.colorName}}</span>
                      </div>
                      <div class="px-2">
                          <i class="fa fa-road text-primary mr-1"></i>
                          <span>25K</span>
                      </div>
                  </div>
                  <a class="btn btn-primary px-3" href="">₺{{car.dailyPrice}}/Day</a>
              </div>
          </div>
          <!-- <div class="col-lg-4 col-md-6 mb-2">
              <div class="rent-item active mb-4">
                  <img class="img-fluid mb-4" src="assets/img/car-rent-2.png" alt="">
                  <h4 class="text-uppercase mb-4">Mercedes Benz R3</h4>
                  <div class="d-flex justify-content-center mb-4">
                      <div class="px-2">
                          <i class="fa fa-car text-primary mr-1"></i>
                          <span>2015</span>
                      </div>
                      <div class="px-2 border-left border-right">
                          <i class="fa fa-cogs text-primary mr-1"></i>
                          <span>AUTO</span>
                      </div>
                      <div class="px-2">
                          <i class="fa fa-road text-primary mr-1"></i>
                          <span>25K</span>
                      </div>
                  </div>
                  <a class="btn btn-primary px-3" href="">$99.00/Day</a>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-2">
              <div class="rent-item mb-4">
                  <img class="img-fluid mb-4" src="assets/img/car-rent-3.png" alt="">
                  <h4 class="text-uppercase mb-4">Mercedes Benz R3</h4>
                  <div class="d-flex justify-content-center mb-4">
                      <div class="px-2">
                          <i class="fa fa-car text-primary mr-1"></i>
                          <span>2015</span>
                      </div>
                      <div class="px-2 border-left border-right">
                          <i class="fa fa-cogs text-primary mr-1"></i>
                          <span>AUTO</span>
                      </div>
                      <div class="px-2">
                          <i class="fa fa-road text-primary mr-1"></i>
                          <span>25K</span>
                      </div>
                  </div>
                  <a class="btn btn-primary px-3" href="">$99.00/Day</a>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-2">
              <div class="rent-item mb-4">
                  <img class="img-fluid mb-4" src="assets/img/car-rent-4.png" alt="">
                  <h4 class="text-uppercase mb-4">Mercedes Benz R3</h4>
                  <div class="d-flex justify-content-center mb-4">
                      <div class="px-2">
                          <i class="fa fa-car text-primary mr-1"></i>
                          <span>2015</span>
                      </div>
                      <div class="px-2 border-left border-right">
                          <i class="fa fa-cogs text-primary mr-1"></i>
                          <span>AUTO</span>
                      </div>
                      <div class="px-2">
                          <i class="fa fa-road text-primary mr-1"></i>
                          <span>25K</span>
                      </div>
                  </div>
                  <a class="btn btn-primary px-3" href="">$99.00/Day</a>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-2">
              <div class="rent-item mb-4">
                  <img class="img-fluid mb-4" src="assets/img/car-rent-5.png" alt="">
                  <h4 class="text-uppercase mb-4">Mercedes Benz R3</h4>
                  <div class="d-flex justify-content-center mb-4">
                      <div class="px-2">
                          <i class="fa fa-car text-primary mr-1"></i>
                          <span>2015</span>
                      </div>
                      <div class="px-2 border-left border-right">
                          <i class="fa fa-cogs text-primary mr-1"></i>
                          <span>AUTO</span>
                      </div>
                      <div class="px-2">
                          <i class="fa fa-road text-primary mr-1"></i>
                          <span>25K</span>
                      </div>
                  </div>
                  <a class="btn btn-primary px-3" href="">$99.00/Day</a>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-2">
              <div class="rent-item mb-4">
                  <img class="img-fluid mb-4" src="assets/img/car-rent-6.png" alt="">
                  <h4 class="text-uppercase mb-4">Mercedes Benz R3</h4>
                  <div class="d-flex justify-content-center mb-4">
                      <div class="px-2">
                          <i class="fa fa-car text-primary mr-1"></i>
                          <span>2015</span>
                      </div>
                      <div class="px-2 border-left border-right">
                          <i class="fa fa-cogs text-primary mr-1"></i>
                          <span>AUTO</span>
                      </div>
                      <div class="px-2">
                          <i class="fa fa-road text-primary mr-1"></i>
                          <span>25K</span>
                      </div>
                  </div>
                  <a class="btn btn-primary px-3" href="">$99.00/Day</a>
              </div>
          </div> -->
      </div>
  </div>
</div>
